#codeca_widget, #codecha_error_overlay, #codecha_error_overlay, #codecha_error_overlay_hide, #codecha_error_message, #codecha_wording, #codecha_code_area, #codecha_spinner, #codecha_status, #codecha_code_submit_button, #codecha_bottom {
    padding: 0;
    margin: 0;
}

#codecha_widget {
    background: #00323F;
    padding: 5px;
    display: table;
    min-width: 250px;
    width: 250px;
    max-width: 800px;
    border: 3px solid #0099AA;
}

#codecha_spinner img {
    margin-left: 5px;
    margin-right: 5px;
}

#codecha_about {
    font-size: 110%;
    font-weight: bold;
}

#codecha_widget a, #codecha_widget a:visited {
    text-decoration: none;
    color:#656565;
    font-family:'Open Sans', sans-serif;
}

#codecha_code_area_top, #codecha_code_area_bottom{
    font-size: 90%;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    background-color: #f5f5f5;
    color: #999;
    padding: 2px;
}

#codecha_code_area_bottom {
    border: 1px dashed #e0e0e0;
    border-top-width: 0px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#codecha_code_area_top {
    border: 1px dashed #e0e0e0;
    border-bottom-width: 0px;
    margin-bottom: 0 !important;
}

#codecha_code_area_top pre {
    border: none;
    margin: 0;
    padding: 0;
}

.codecha_button {
    border: 2px solid #36739D;
    background: #36739D;
    padding: 2px;
    font-weight: 600;
    margin-left: 5px !important;
    border-radius: 3px;
    padding: 2px !important;
}

.codecha_button, a.codecha_button, a.codecha_button:hover, a.codecha_button:visited {
    color: #fff !important;
}

.codecha_button:hover, .codecha_button:active, .codecha_button:disabled {
    background: #4b5056;
    border-color:#4b5056; 
}

#codecha_survey_mark_selector {
    width: 500px;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

#codecha_code_area, #codcha_survey_opinion_area {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-width: 250px;
    max-width: 800px;
    width: 500px;
    height: 120px;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 90%;
}

#codecha_bottom {
    text-align: right;
    float: right;
}

#codecha_bottom_container {
    margin-top: 10px;
}

#codecha_wording {
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
}

#codecha_error_overlay {
    background-color: #faa;
    padding: 10px;
}

#codecha_error_overlay_hide {
    float: right;
    font-weight: bold;
}

#codcha_survey_opinion_area  {
    margin-top: 5px !important;
}