<html >
<link rel="stylesheet" type="text/css" href="./widget.css">
<script src="controllers.js"></script>
<title> Ward Counts - {{query}}</title>

<body>
<style>
body {background-image:url("./buyWard.png");
		background-size: cover;
		color:#F7EFE3;
		font-family: Calibri;
		font-size: 1.2em;}
button {margin-top: 15px;}
</style>
<script>
var getOutputDOM = require('wardInformationScrapper')
</script>
<%- output %>

<br>
<form action="./refresh">
    <input type="submit" value="Refresh">
</form>


Search: <input ng-model="query">


<h2>Sign up</h2>
<form>
In Game Name: <input type="text" name="username"><br>
<button> Sign up </button>
</form>
<br>

</html>
