<style>
.wrapper {width:58.536585%; /*960/1640 = .58536585*/ margin:0 auto;}
.resize {width:100%; height:auto;}
.resize2 {width:70%; height:auto;}
.resize3 {width:50%; height:auto;}
</style>  
<script src="jquery.js"></script>
<script src="jquery.fittext.js"></script>
<script src="angular.js"></script>
<script src="controllers.js"></script>


<script type="text/javascript">

	$(document).ready(function(){
		$("#myform").submit(function(e) {
		    e.preventDefault();
		    name = $("#inputBox").val();
			if (name != ''){
			    action = '/request?name=' + name
			    console.log(action)
			    $.ajax({
	               type: "POST",
	               url: action,
	               success: function( data ){
	                   //alert(data);
	                   d = document.getElementById('summonerInfo');
	                   scope = angular.element(d).scope();
	                   scope.$apply(function() {
					        scope.getData();
					    });
	                   $('#summonerName').text(data[0])
	                   $('#wardNumbers').text(data[1])
	                   $( "#summonerName" ).slideDown( "slow", function() {
						    // Animation complete
						    $('html,body').animate({scrollTop: $(document).height() + "px"});
						  });
	                   $( "#wardName" ).slideDown( "slow", function() {
						    // Animation complete
						  });
	                   $( "#wardNumbers" ).slideDown( "slow", function() {
						    // Animation complete
						  });

	               },
	               error: function(err){
	                alert(err.responseText);
	               }
	             });

				$("#inputBox").val('');
			}
		});
	});

	$( document ).ready(function() {
    resizeText();
  }).trigger('resize');

	$(window).bind('resize', function() {
    resizeText();
  }).trigger('resize');

	$( document ).ready(function() {
		$('#summonerInfo').on('click', 'tr', function(event) {
		    $(this).addClass('highlight').siblings().removeClass('highlight');
		});
	});

function resizeText() {
	var preferredWidth = 1024;
	var displayWidth = window.innerWidth;
	var percentage = displayWidth / preferredWidth;
	var fontsizetitle = 22;
	var textboxsize = 28;
	var newFontSizeTitle = Math.floor(fontsizetitle * percentage);
	var newtextboxsize = Math.floor(textboxsize * percentage);
	$(".search").css("font-size", newFontSizeTitle)
	$(".search").css("height", newtextboxsize)
}

</script>

<html ng-app="summonerWards" ng-controller="summonerWardsCtrl">

<link rel="stylesheet" type="text/css" href="./title.css">
<title> Ward Counts </title>
<body>
<img id = "logo" class = "resize3" src ="./logo.png">
<div class="container">
	<form id="myform" action= "" method="post">
		<input ng-model="query" id = "inputBox" class="search resize2" maxlength="16" placeholder="type in a summoner name here" type = "text" name="name" autocomplete="off">
	</form>
	<img id = "background" class="resize" src ="./jaycedraven.png">
</div>

<div id = "output">

<a id = "summonerName"> Windask </a>
<br>
<a id = "wardName"> Wards: </a>
<a id = "wardNumbers"> 120 </a>

</div>

<br>
Filter by summoner name:<input ng-model="names">
<br>
<br>
<table>
	<tr>
		<td><a href="" ng-click="predicate = 'name'; reverse=!reverse">Summoner Name</a></td>
		<td><a href="" ng-click="predicate = 'wards'; reverse=!reverse">Wards</a></td>
		<td><a href="" ng-click="predicate = 'sightWardsBought'; reverse=!reverse">Sight Wards</a></td>
	</tr>
</table>
<table id = "summonerInfo">
	<tr class = "content" ng-repeat="summoner in summoners | filter:names | orderBy:predicate:reverse" ng-class-odd="'odd'" ng-class-even="'even'">
		<td><a ng-href="http://www.lolking.net/summoner/na/{{summoner.ID}}">{{summoner.name}}</a></td>
		<td>{{summoner.wards}}</td>
		<td>{{summoner.sightWardsBought}}</td>
	</tr>
</table>
<br>
<br>
</body>
</html>