.wrapper {
	width:58.536585%; /*960/1640 = .58536585*/ margin:0 auto;
}

.resize {
	width:100%; height:auto;
}

.resize2 {
	width:70%; height:auto;
}

.resize3 {
	width:50%; height:auto;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #055357;
    font-weight: 300;
}

a:visited {color:#000293;}

#logo{
	display: block;
	margin-top:2%;
    margin-left: auto;
    margin-right: auto;

}

.search{
	display:block;
	position:absolute;
	background-color : transparent;
	margin-top:11%;
	margin-left:14.7%;
	outline: 0;
	border: 0px none;
	border-width: none;
	border-color:#055357;
	height:50px;
	text-align:center;
	color: #333231;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #808483;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #808483;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #808483;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #808483;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }


.container{
	background-color: #000;
	width:100%;
}

table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed; 
    margin-left: auto;
    margin-right: auto;
}

a:link{
	color: #055357;
	text-decoration: none;
}

a:visited {
    color: #055357;
}

a:hover {
    color: #000;
}

th,td
{
	padding:4px;
    border: 1px solid #333;
}

.content:hover {
     background-color: #F29A4D;
}

.odd{
	background-color: #E2E0E0;
}

.even{
	background-color: #FFF;
}

.highlight{
	background-color: #F29A4D;
}


#summonerName{
	color:#F29A4D;
	font-size:5em;

	display:none;
}

.smallWords{
	font-size:2.5em;
	color:#000;

	display:none;

}

#sightWardName{
	font-size:2em;
	color:#000;

}


#wardNumbers{
	font-size:6em;
	color:#004F30;
	display:none;

}

#sightWardNumbers{
	font-size:3em;
	color:#000;
}

#output{
	margin-top:3%;
	text-align:center;
	margin-bottom:3%;
	display:none;
}
